@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root{
  --bg:#05050a;
  --bg2:#0f0f18;

  --purple:#8B5CF6;
  --purple-light:#B794F4;

  --blue:#60A5FA;

  --pink:#FF4D8D;

  --white:#F8F8F5;

  --muted:rgba(255,255,255,0.68);

  --glass:rgba(255,255,255,0.06);

  --border:rgba(255,255,255,0.08);

  --sans:'Sora',sans-serif;

  --heading:'Sora',sans-serif;

  --serif:'Sora',sans-serif;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:var(--sans);

  background:var(--bg);

  color:white;

  overflow-x:hidden;
}

a{
  text-decoration:none;
}

button{
  border:none;
  outline:none;
}

input,
textarea,
select,
button{
  font-family:'Sora',sans-serif;
}